@page
@model FinanceWeb.Pages.Account.LoginModel
@{ ViewData["Title"] = "Login"; }

<h1>@ViewData["Title"]</h1>

<form method="post">
    <label asp-for="Input.User.UserName"></label>
    <input asp-for="Input.User.UserName" />

    <label asp-for="Input.Password"></label>
    <input asp-for="Input.Password" type="password" />

    <input type="submit" value="Create" class="btn btn-primary" />
</form>
