

<ul class="navbar-nav">
    <li class="nav-item">
        <form class="form-inline" asp-controller="Login" asp-action="Index">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
</ul>
