@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br />
    <div>
        <label>Benutzername</label>
    </div>
    <div>
        <input placeholder="Benutzername" />
    </div>
    <div style="margin-top: 20px">
        <button>Einloggen</button>
    </div>
    <div>
        <a href="">Regestrieren</a>
    </div>
</div>
