@model FinanceWeb.Entities.User
@{
    
}

<form asp-controller="Home" asp-action="VerifyLogin">
    <label asp-for="UserName"></label>
    <input asp-for="UserName" type="text" />

    <button type="submit" class="btn btn-primary">LogIn</button>
    <br />
    
</form>

<a asp-controller="SignUp" asp-action="Index">SignUp</a>


@* <label asp-for="Input.Password"></label>
<input asp-for="Input.Password" type="password" /> *@



