@model FinanceWeb.Entities.User
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h4>SignUp</h4>
<form asp-controller="SignUp" asp-action="SignUp">
    <div style="margin-top= 2%">
        <lable>Vorname</lable>
        <input asp-for="FirstName" type="text" />
    </div>
    <div>
        <lable>Nachname</lable>
        <input asp-for="LastName" type="text" />
    </div>
    <div>
        <lable>Benutzername</lable>
        <input asp-for="UserName" type="text" />
    </div>
    <div>
        <button type="submit" class="btn btn-success">Speichern</button>
    </div>
    

</form>